@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    overflow-x: hidden;
}

.connectinfo h5{
    padding-left: 1rem;
}

.infobtn {
    font-size: 1.5em;
}

.navbar.nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.3em !important;
}

.carousel-caption {
    position: absolute;
    bottom: 5vh;
}

.carousel-caption h1{
    font-size: 9em;
    text-shadow: 4px 3px 8px #000;
}

.carousel-caption h3{
    font-size: 3em;
    text-shadow: 4px 3px 8px #000;
    padding-bottom: 1rem;
}

.header-down-arrow {
  position: absolute;
    bottom: 3.5vh;
    left: 0;
    right: 0;

  text-align: center;
  z-index: 10;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 1s 1s ease-out forwards,
             pulse 2s 3s ease-out infinite;
  opacity: 0;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    margin: 0 auto;
    padding-top: 1rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.welcomeline hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.welcomeline2 hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
    padding-top: 0rem;
}

.welcomeline3 hr {
    border-bottom: 2px solid #b4b4b4;
    border-top: 0px;
    width: 95%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    padding-top: 1.5rem;
}

.social a {
    font-size: 4.5em;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.schoolname h4{
    padding-left: 0rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #517fa4;
}

.fa-discord {
    color: #4e77b1;
}

.fa-envelope {
    color: #a6a6a6;
}

.fa-globe {
    color: #a6a6a6;
}

.fa-facebook:hover,.fa-instagram:hover,.fa-envelope:hover,.fa-discord:hover,.fa-globe:hover {
    color:#d5d5d5;
}

footer {
background-color: #3f3f3f;
color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.teamline {
    width: 90%;
}
.suppericon {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.saintimage {
 width: 275px;
      display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sainttext {
padding-right: 2rem;
padding-left: 2rem;
}

/*---Media Queries --*/

@media (max-width: 1925px) {
    .carousel-caption h1 {
        font-size: 9em;
    }
}

@media (max-width: 1700px) {

    .carousel-caption h1 {
        font-size: 6em;
    }
    .carousel-caption h3 {
        font-size: 2em;
    }
}

@media (max-width: 1500px) {
    .suppericon {
        width: 300px;
    }
    .saintimage {
        width: 200px;
    }
    .abouttext p {
        font-size: 1rem;
    }
    .carousel-caption h1 {
        font-size: 6em;
    }

}

@media (max-width: 1200px) {
    .carousel-caption h1 {
        font-size: 5.5em;
    }

}

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
    }
    .carousel-caption h1 {
        font-size: 5.5em;
    }
    .suppericon {
        width: 350px;
    }
}

@media (max-width: 768px){
    .carousel-caption h1 {
        font-size: 3em;
    }
    .carousel-caption h3
    {
    font-size: 0.5em;
    }
    .carousel-caption {
    bottom: 3vh;
    }
}

@media (max-width: 576px) {
     .carousel-caption h1
    {
    font-size: 2.5em;
    text-shadow: 4px 3px 8px #000;
    }
    .carousel-caption h3
    {
    font-size: 1em;
    }
    .carousel-caption {
    bottom: 3vh;
    }
    .social a{
    font-size: 2rem;
    }

    .newtext h2 {
    font-size: 1.4em;
    }
    .suppericon {
    width: 350px;
    padding-right: 30px;
    }
}

#map {
    height: 500px;
    width: 100%;
}

iframe {
  height: 145%;
  width: 90%;
  resize: both;
  overflow: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
   margin: 0;
}

#fixed {
  background-image: url('img/scroll.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}
